@page "/users"

<head>
    <PageTitle>Cactus</PageTitle>
    Content-Security-Policy: script-src 'self' 'unsafe-eval';
</head>

<style scoped>

    p{
        color: grey;
    }
    h1{
        color:white;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid white;
    }

        .table th, .table td {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: black;
            color: white;
        }

        .table tr:nth-child(even) {
            background-color: white;
        }

        .table tr:nth-child(odd) {
            background-color: white;
        }
</style>

<div class="container">
    <p>Текущее время: @CurrentTime</p>
    <p>Текущая дата: @CurrentDate</p>

    <h1>Пользователи</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in result)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Firstname</td>
                    <td>@user.Lastname</td>
                    <td>@user.Birthdate.ToShortDateString()</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    public class User
    {
        public int Id { get; set; }
        public string Firstname { get; set; }
        public string Lastname { get; set; }
        public string Middlename { get; set; }
        public DateTime Birthdate { get; set; }
        public string Login { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://api-for-socnetwork-1.onrender.com");

        result = await client.GetFromJsonAsync<User[]>("api/User1");

        return;
    }
}